/* Fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: hidden;
}

/* Ensure content is below navbar */
div.container-fluid
{
    padding-top: 56px;
}

/* Fill viewport */
div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}

/* Remove padding within column */
div.col
{
    padding-left: 0;
    padding-right: 0;
}

/* Add padding around form */
form
{
    padding: 15px;
}

/* Wrap and scroll preformatted text */
pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}

/* Highlight spans */
span
{
    background-color: #ff0;
}

.container form{
    margin-top: 50px;
}
.col h4{
    margin-top: 5px;
}
.input label {
    margin-bottom:2px;
}
#number{
    width: 200px;
    margin-left: 20px;
}
#submit-button{
    margin-top: 10px;
    width: 90px;
    height: 35px;
    font-size:16px;
}
#file1 {
    margin-bottom: 10px;
}
